# Virtual environments
venv/
.env/
.venv/

# Python cache
__pycache__/
*.pyc

# Model weights
*.pt
*.pth

# Dataset folders
data/
datasets/
gtsrb/

# Streamlit cache
.streamlit/

# IDE
.vscode/
.idea/
*.swp
